.input--wrapper {
    display: flex;
    border: 2px solid black;
    width: 200px;
    height: 25px;
}

.input--wrapper.touched {
    border: 2px solid green;
}

.input--wrapper.touched:has(> input:invalid) {
    border-color: red;
}

.input--wrapper input {
    outline: none;
    border: none;
    appearance: textfield;
    width: 100%;
}

.custom-select--wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.custom-select--wrapper select {
    width: 100%;
}