.add-image--wrapper {
    height: 300px;
    aspect-ratio: 16/9;
    position: relative;
}

.add-image--wrapper * {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.add-image input {
    display: none;
}

.add-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-image--icon {
    margin: 32px;
    width: calc(100% - 64px);
    height: calc(100% - 64px);
}