<!-- 
Info:
im folgenden können Sie den Text definieren, der als Info, bei order status Änderungen, an die Nutzer geschickt wird.
Es ist möglich diesen Text als HTML zu formatieren.

Wenn Sie nicht wissen, wie HTML genutzt wird, verwenden Sie einfach <p>hier Ihr Text</p>
-->

<html lang="en">
    <head>
        <H1>The status of your loan changed</H1>
        <p>Please check the status on the Ovgu Lending page</p>
    </head>
</html>

<html lang="de">
    <head>
        <H1>Der Status der Ausleihe hat sich geändert</H1>
        <p>Bitte überprüfe den Status auf der Ovgu Ausleihseite.</p>
    </head>
</html>