.form-input--wrapper {
    display: flex;
    justify-content: center;
}

.form-input {
    width: 100vw;
    max-width: 700px;
}

.top-input--wrapper {
    /*display: grid;
    grid-template-columns: 1fr 2fr;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 16px;
}

.side-input--wrapper {
    align-self: center;
}

.text-input {
    justify-self: center;
    align-self: center;

    display: grid;
    grid-template-columns: min-content min-content;
    grid-auto-rows: min-content;
    gap: 8px;
}

input:invalid {
    outline: red;
    border-color: red;
}

input:valid {
    outline: green;
    border-color: green;
}

.deposit-input {
    text-align: end;
}

.currency-placeholder {
    margin: 0 8px;
    user-select: none;
}

#defects, #description {
    width: 100%;
    resize: vertical;
    margin-bottom: 24px;
}